.App {
  text-align: center;
  margin-top: 10em;

}
body{
 
  background: url(./components/images/trianglify.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  max-width: 1920px;
}


.header{
  display: flex;
  justify-content: space-between;
  background: none;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  padding: 3em 2em;
  
}
.scroll-effect{
  animation-name: ScrollEffect;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}@keyframes ScrollEffect{
  0%{
    background: transparent;
  }
  100%{
    background: black;
  }
}
.remove-scroll{
  animation: RemoveScroll .5s forwards;
}
@keyframes RemoveScroll{
  0%{
    background: black;
  } 
  100%{
    background: transparent;
  }
}

.header .social-links {
  display: flex;
  justify-content: space-evenly;
  color: white;

}
.social-links a{
  color: white;
  margin: 0 1em;
  padding: 0 .75em;
}
.nav{
  display: flex;
  
  justify-content: left;
  
}
.nav a{
  margin: 0 3em;
  color: white;
  
  
}
.introduction{
  margin-bottom: 5em;
}
.introduction h1{
  color: rgba(250, 250, 250, 0.995);
}
.introduction a{
  color: white;
  
  text-decoration: underline;
}



.projects-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
flex-direction: row-reverse;
align-items: flex-end;
background: linear-gradient(173deg, rgba(255, 255, 255, 0) 30%, #F0F0F0 30%);
width: 100%;
left: -5%;

}

.project-card{

width: 500px;
height: 300px;
background: beige;
margin: 1em;
}
