.App {
  text-align: center;
  padding-top: 10em;
  background: url(./components/trianglify.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  max-width: 1920px;
}



.header{
  display: flex;
  justify-content: space-between;
  background: none;
  width: 100%;
  position: fixed;
  height: 76px;
  align-items: center;
  z-index: 2;
  top: 0;
  padding: 3em 2em;
  
}
.scroll-effect{
  animation-name: ScrollEffect;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  background: transparent;
}@keyframes ScrollEffect{
  0%{
    background: transparent;
  }
  100%{
    background: black;
  }
}
.remove-scroll{
  animation: RemoveScroll .5s forwards;
}
@keyframes RemoveScroll{
  0%{
    background: black;
  } 
  100%{
    background: transparent;
  }
}

.header .social-links {
  display: flex;
  justify-content: space-evenly;
  color: white;

}
.social-links a{
  color: white;
  margin: 0 1em;
  padding: 0 .75em;
}
.nav{
  display: flex;
  
  justify-content: left;
  
}
.nav a{
  margin: 0 3em;
  color: white;
}
.introduction{
  margin-bottom: 5em;
}
.introduction h1{
  color: rgba(250, 250, 250, 0.995);
}
.introduction a{
  color: white;
  
  text-decoration: underline;
}
.project-intro h2, .project-intro p{ 
  font-family: 'Raleway', cursive;
  font-weight: 600;
  margin-right: 65%;
  color: #efefef

}

.project-header{
  margin: 1em 0;
  font-family: Raleway, Arial, sans-serif;
  width: 35%;
  align-self: center;
}
.project-header h3{
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2em;
}
.project-header p{
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2;
}
.projects-container{
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
flex-direction: row-reverse;
align-items: flex-end;
background: linear-gradient(173deg, rgba(255, 255, 255, 0) 30%, #F0F0F0 30%);
width: 100%;

}
.landing-image-container{
  width: 55%;
  align-self: flex-end;
  margin-bottom: 3em;
}
.project-card .landing-image{
  width: 85%;
  margin: 0 auto;
  box-shadow: 6px 8px 42px 1px rgba(0,0,0,0.15)
}
.project-tech{
  display: flex;
  align-self: center;
  justify-content: space-around;
  margin: 1em auto;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.project-tech i{
  margin: 1.5em 1em 0 1em;
  color: #3AA7FF
}

.project-card{
display: flex;
min-height: 500px;
align-items: center;
border-radius: 5px;
width: 75%;
box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.7);
background: #efefef;
margin: 1em;
}
.project-card:nth-child(odd){
  flex-direction: row-reverse;
}
.contact-form{
  width: 100%;
  padding: 4em 0 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(50deg, #3AA7FF 20%,rgb(59, 127, 182) 60%, rgb(108, 179, 237) 100%)
  /* background: linear-gradient(135deg, white 20%,black 60%, purple 100%) */
  
}
.contact-form input, .contact-form textarea{
  margin: 1em auto;
  width: 40%;
}
.contact-form form{
  display: flex;
  flex-direction: column;
}
.contact-form label{
  font-size: 1.2em;
  color: #efefef;
}
.footer-container{
  margin: 1.5em 2em;
  text-align: left;
}
.footer-container a{
  text-align: left;
  color: #efefef;
  margin-top: 1.5em;
  padding: .75em;
  text-decoration: none;
}
